<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1> Sri Mathre Jewellers</h1>
        @Html.ActionLink("Register","Create","JewellaryShoppingMVCs")<br />
        @Html.ActionLink("Login","Login","JewellaryShoppingMVCs")
        @RenderBody()
    </div>
</body>
</html>
